/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75em;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

.item-box {
  background-color: #007777;
  border: 1px solid black;
  position: relative;
  margin: 10px;
}

.title {
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 1px;
  color: white;
  float: right;
  font-size: 1.25em;
  padding: 7px 20px 7px 20px;
  position: relative;
  text-align: center;
}

.description {
  clear: right;
  color: white;
  font-size: 1em;
  padding: 7px;
}

.heart {
  background-color: darkred;
}

.blood {
  background-color: darkorange;
}

.vessel {
  background-color: darkgreen;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Small devices only **********/
@media (max-width: 767px) {

}
