/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 2px 2px #fff;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

/* CONTENT */
.row {
  margin: auto;
}

.item-box {
  background-color: #007777;
  border: 1px solid black;
  position: relative;
  margin-bottom: 30px;
}

.title {
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 1px;
  color: white;
  float: right;
  font-size: 1.25em;
  padding: 7px 20px 7px 20px;
  position: relative;
  text-align: center;
}

.description {
  clear: right;
  color: white;
  font-size: 1em;
  padding: 7px;
}

.heart {
  background-color: darkred;
}

.blood {
  background-color: darkorange;
}

.vessel {
  background-color: darkgreen;
}

/********** Extra Small devices only **********/
@media (max-width: 480px) {

  .navbar-brand h1 {
    font-size: 1.4em;
  }
}
